<!DOCTYPE html>
<html>
    <head>
        <title>Testing</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="../src/common.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <!-- Navbar/header -->
        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>
        
        <table id="cc">
            <tr>
                <th>Card #</th>
                <th>Expiry</th>
                <th>Active</th>
                <th>Signed Out</th>
            </tr>
            <form id="cc-input-form" action="/new_card" method="post">
                <tr>
                    <td><input id="card-num" name="card-num" type="text"></td>
                    <td><input id="expiry" name="expiry" type="text"></td>
                    <td><input id="sec-num" name="sec-num" type="text"></td>
                    <td><input id="active" name="active" type="text"></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </form>
        </table>
        <hr>
        <table id="users" class="test">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
            </tr>
        </table>
        <hr>
        <table id="signout" class="test">
            <tr>
                <th>User</th>
                <th>Card</th>
                <th>Date Taken</th>
                <th>Expected Return</th>
                <th>Actual Return</th>
                <th>Returned on Time</th>
            </tr>
        </table>

        <script>
            $(document).ready(() => {
                $.get('../get/users', (data, status) => {
                    console.log(status);
                    var usersTable = $('#users'); // Get the table by ID

                    // Loop through the data and append rows to the users table
                    data.forEach((user) => {
                        var row = $('<tr></tr>'); // Create a new table row
                        row.append($('<td></td>').text(user.name)); // Append name
                        row.append($('<td></td>').text(user.email)); // Append email
                        row.append($('<td></td>').text(user.phone)); // Append phone
                        row.append($('<td></td>').text(user.active)); // Append active

                        usersTable.append(row); // Append the row to the table
                    });
                });
            });
        </script>
    </body>
</html>
