<!DOCTYPE html>
<html>
    <head>
        <title>Testing</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <table id="cc">
            <tr>
                <th>Card #</th>
                <th>Expiry</th>
                <th>Active</th>
                <th>Signed Out</th>
            </tr>

            <% 
                if(userData.length!=0){
                    var i = 1;
                    userData.forEach(function(date){
                        <tr>
                            <td><%=data.number %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    });
                }
            %>
        </table>
    </body>
</html>