<!DOCTYPE html>
<html>
    <head>
        <title>Testing</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js">
        </script>
    </head>
    <body>
        <table id="cc">
            <tr>
                <th>Card #</th>
                <th>Expiry</th>
                <th>Active</th>
                <th>Signed Out</th>
            </tr>

            <script>
                $(document).ready(()=>{
                    $.get('../get/cards', (data, status)=>{
                        console.log(status);
                        var table = document.getElementById('cc');
                        var row = table.insertRow(1);
                        var i=0;
                        data.forEach(element => {
                            for(const key in element){
                                var col = row.insertCell(i);
                                col.innerHTML = element[key];
                                i++;
                            }
                        });
                    })
                })
            </script>

        </table>
        <hr>
        <table id="users">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
            </tr>
            <script>
                $(document).ready(()=>{
                    $.get('../get/users', (data, status)=>{
                        console.log(status);
                        var table = document.getElementById('users');
                        var row = table.insertRow(1);
                        var i=0;
                        data.forEach(element => {
                            for(const key in element){
                                var col = row.insertCell(i);
                                col.innerHTML = element[key];
                                i++;
                            }
                        });
                    })
                })
            </script>
        </table>
        <hr>
        <table id="signout">
            <tr>
                <th>User</th>
                <th>Card</th>
                <th>Date Taken</th>
                <th>Expected Return</th>
                <th>Actual Return</th>
                <th>Returned on Time</th>
            </tr>
            <script>
                $(document).ready(()=>{
                    $.get('../get/signout', (data, status)=>{
                        console.log(status);
                        var table = document.getElementById('signout');
                        var row = table.insertRow(1);
                        var i=0;
                        data.forEach(element => {
                            for(const key in element){
                                var col = row.insertCell(i);
                                col.innerHTML = element[key];
                                i++;
                            }
                        });
                    })
                })
            </script>
        </table>
    </body>
</html>