<!DOCTYPE html>
<html>
<head>
    <title>Testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../src/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../src/styles.css">
</head>
<body>
    <!-- Navbar/header -->
    <div class="navbar">
        <div class="nav-elements">
            <div class="logo">
                <a href="#"><img id="logo" src="/get/logoLeft" alt="Logo"></a>
            </div>
            <a id="logout-button" class="logout" href="/logout">Logout</a>
        </div>
    </div>

    <div class="frame"> <!-- Add a div container for the frame -->
        <table id="users" class="test">
            <tr>
                <th class="rounded-top-left">Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="rounded-top-right">Active</th>
                <th></th>
            </tr>
            <form id="user-input-form" action="/new_user" method="post">
                <tr>
                    <td>
                        <input id="f_name" name="f_name" type="text" placeholder="First">
                        <input id="l_name" name="l_name" type="text" placeholder="Last">
                    </td>
                    <td>
                        <input id="email" name="email" type="text" placeholder="Email">
                        <input id="pswd" name="pswd" type="password" placeholder="Password">
                    </td>
                    <td><input id="phone" name="phone" type="number"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </form>
        </table>
    </div> <!-- Close the div container for the frame -->

    <div class="frame"> <!-- Add a div container for the frame -->
        <table id="cc">
            <tr>
                <th class="rounded-top-left">Card #</th>
                <th>Expiry</th>
                <th>Active</th>
                <th class="rounded-top-right">Signed Out</th>
                <th></th>
            </tr>
            <form id="cc-input-form" action="/new_card" method="post">
                <tr>
                    <td><input id="card-num" name="number" type="number" maxlength="16" placeholder="Card Number"></td>
                    <td>
                        <input id="expiry" name="expiry" type="date" placeholder="Expiry Date">
                        <input id="sec-num" name="sec_num" type="number" maxlength="3" placeholder="Security Code">
                    </td>
                    <td ></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </form>
        </table>
    </div> <!-- Close the div container for the frame -->

    <div class="frame"> <!-- Add a div container for the frame -->
        <form id='return-form' action="/return_card"  method='post'>
            <table id="signout" class="test">
                <tr>
                    <th class="rounded-top-left">User</th>
                    <th>Card</th>
                    <th>Date Taken</th>
                    <th>Expected Return</th>
                    <th>Actual Return</th>
                    <th class="rounded-top-right">Returned on Time</th>
                    <th></th>
                </tr>
            </table>
        </form>
    </div> <!-- Close the div container for the frame -->

    <script>
        $(document).ready(() => {
            $.get('../get/users', (data, status) => {
                console.log(status);
                var usersTable = $('#users'); // Get the table by ID

                // Loop through the data and append rows to the users table
                data.forEach((user) => {
                    var row = $('<tr></tr>'); // Create a new table row
                    row.append($('<td></td>').text(user.name)); // Append name
                    row.append($('<td></td>').text(user.email)); // Append email
                    row.append($('<td></td>').text(user.phone)); // Append phone
                    // Append active status
                    if(user.active){
                        row.append($('<td>Active</td>'));
                        row.append(
                            $(`<td>
                                    <a class="logout" href="/user/delete?name=${user.name.split(" ")[0]}&email=${user.email}">Delete</a>
                                </td>`));
                    }
                    else {
                        row.append($('<td>Inactive</td>'));
                        row.append($('<td></td>'));
                    }

                    usersTable.append(row); // Append the row to the table
                });
            });
        });

        $(document).ready(() => {
            $.get('../get/cards', (data, status) => {
                console.log(status);
                var usersTable = $('#cc'); // Get the table by ID

                // Loop through the data and append rows to the users table
                data.forEach((card) => {
                    var row = $('<tr></tr>'); // Create a new table row
                    row.append($('<td></td>').text(card.number)); // Append card number
                    // Append expiry date
                    row.append($('<td></td>').text(card.expiry_date)); 
                    // Append active status
                    if(card.active){ 
                        row.append($('<td>Active</td>'));
                        row.append($('<td></td>').text(card.signed_out)); // Append signed out status
                        row.append(
                            $(`<td><a style="margin-left: 5px;" class="logout" href="/cards/delete?number=${card.number.split(" ")[0]}&sec_num=${card.security_num}">Delete</a><a href="/signout_card?card=${card.card_id}&status=${card.active}" class="logout">Sign Out</a></td>`));
                    }else {
                        row.append($('<td>Inactive</td>'));
                        row.append($('<td></td>'));
                        row.append($('<td></td>'));
                    }
                    

                    usersTable.append(row); // Append the row to the table
                });
            });
        });

        $(document).ready(() => {
            $.get('../get/signout', (data, status) => {
                console.log(status);
                var usersTable = $('#signout'); // Get the table by ID

                // Loop through the data and append rows to the users table
                data.forEach((card) => {
                    var row = $(`<tr></tr>`); // Create a new table row
                    row.append($('<td></td>').text(card.user_id));
                    row.append($('<td></td>').text(card.card_id)); 
                    row.append($('<td></td>').text(card.date)); 
                    row.append($('<td></td>').text(card.expected_return));
                    if(card.actual_return){
                        row.append($('<td></td>').text(card.actual_return));
                        row.append($('<td></td>').text(card.returned_on_time));
                        row.append($('<td></td>')); 
                    }else{
                        row.append(
                            $(`<td>
                                <input name="user" type="hidden" value=${card.user_id}>
                                <input name="card" type="hidden" value=${card.card_id}>
                                <input id="ret-date" name="ret_date" type="date" placeholder="Date Returned"></td>
                            <td>
                                <input id="ret-ont" name="ret_ont" placeholder="true/false"></td>
                            <td><input id='sub' value='Return' type='submit'></td>`));
                        row.append($(''));
                    }

                    usersTable.append(row); // Append the row to the table
                });
            });
        });
    </script>
</body>
</html>
