<!DOCTYPE html>
<html>
    <head>
        <title>Testing</title>
    </head>
    <body>
        <table id="cc">
            <tr>
                <th>Card #</th>
                <th>Expiry</th>
                <th>Active</th>
                <th>Signed Out</th>
            </tr>

            <%
            if(cardData.length!=0){
                var i=1;
                cardData.forEach(function(data){ %>
                    <tr>
                        <td><%=data.number %></td>
                        <td><%=data.expiry_date %></td>
                        <td><%=data.active %></td>
                        <td><%=data.signed_out %></td>
                    </tr>
                <%})
            } %>
        </table>
        <hr>
        <table id="users">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
            </tr>
            
        </table>
    </body>
</html>