<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="../src/common.js"></script>
    </head>
    <body>
        <form id="login-form" action="/login" method="post">
            <input id="username" name="email" type="text"><br><br>
            <input type="text" name="password" id="pswd"><br><br>
            <input type="submit" id="submit">
        </form>
    </body>
</html>